body{
    background: linear-gradient(green,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
#or{
    color: white;
    font-size: 40px;
    text-shadow: 2px 4px 10px black;
    text-align: center;
}
ul{
   background-color: white; 
   font-size: 20px;
   padding: 20px;
   border: 5px solid black;
   height: 350px;
   width: 350px;
   margin: 0 auto;
   
}
#bp{
    color: yellow;
}
#ctm{
    color: orange;
}
#p{
    color: brown;
}