body{
    background-color: lightgray;
    font-family: monospace;
}
#or{
    background-color: navy;
    color: white;
    font-size: 40px;
    text-shadow: 2px 4px 10px black;
}
ul{
   background-color: gray; 
   font-size: 20px;
}
#bp{
    color: yellow;
}
#ctm{
    color: orange;
}
#p{
    color: brown;
}